# # Working With Missing Data
[From the dataquest.io site](https://www.dataquest.io/m/83/data-manipulation-with-pandas/5/normalizing-columns-in-a-data-set)
### <p style="color:Tomato">Learn to handle missing data using pandas, and a data set on Titanic survival.
<p/>
#### <p style="color:Gray">Clean and analyze data on passenger survival from the Titanic. Many of the columns, such as age and sex, have missing data.<p/>
* cause errors
* finding the mean of a column with a missing value is not successful.
because it's impossible to average  missing value.


<p style="color:Blue">**1. titanic_survival.csv**<p/>

In [33]:
import pandas as pd
import numpy as np

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
titanic_survival = pd.read_csv("titanic_survival.csv")

In [4]:
age = titanic_survival["age"]
print(age.loc[10:20])

10    47.0
11    18.0
12    24.0
13    26.0
14    80.0
15     NaN
16    24.0
17    50.0
18    32.0
19    36.0
20    37.0
Name: age, dtype: float64

In [5]:
age_is_null = pd.isnull(age)
age_null_true = age[age_is_null]
age_null_count = len(age_null_true)
print(age_null_count)

264

#### <p style="color:Gray">NaN<p/>
not a number, to indicate a missing value
#### <p style="color:Gray">pandas.isnull()<p/>
returns a series of True and False values.

In [6]:
sex = titanic_survival["sex"]
sex_is_null = pd.isnull(sex)
print(sex_is_null)

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1280    False
1281    False
1282    False
1283    False
1284    False
1285    False
1286    False
1287    False
1288    False
1289    False
1290    False
1291    False
1292    False
1293    False
1294    False
1295    False
1296    False
1297    False
1298    False
1299    False
1300    False
1301    False
1302    False
1303    False
1304    False
1305    False
1306    False
1307    False
1308    False
1309     True
Name: sex, Length: 1310, dtype: bool

In [7]:
sex_null_true = sex[sex_is_null]
print(sex_null_true)

1309    NaN
Name: sex, dtype: object

This is because any calculations we do with a null value also result in a null value.

In [9]:
age_is_null = pd.isnull(titanic_survival["age"])
good_ages = titanic_survival["age"][age_is_null == False]
correct_mean_age = sum(good_ages) / len(good_ages)
print(correct_mean_age)

29.8811345124

#### <p style="color:Gray">Series.mean()<p/>
To calculate the mean of a column,<br/>
missing values will not be includd in the calculation.

In [10]:
correct_mean_age = titanic_survival["age"].mean()
print(correct_mean_age)

29.8811345124283

Assign the mean of the "fare" column to correct_mean_fare.

In [11]:
correct_mean_fare = titanic_survival["fare"].mean()
print(correct_mean_fare)

33.29547928134572

In [12]:
passenger_classes = [1,2,3]
fares_by_class = {}

In [27]:
for this_class in passenger_classes:
#     print(this_class)
    pclass_rows = titanic_survival[titanic_survival["pclass"] == this_class] 
#     print(pclass_rows)
    pclass_fares = pclass_rows["fare"]
#     print(pclass_fares)
    fare_for_class = pclass_fares.mean()
    print(pclass_fares.mean())
#     print(fare_for_class)
    fares_by_class[this_class] = fare_for_class

87.50899164086687
21.1791963898917
13.302888700564957

In [31]:
print(fares_by_class[1])
print(fares_by_class[2])
print(fares_by_class[3])

87.50899164086687
21.1791963898917
13.302888700564957

In [25]:
fare_by_class

#### <p style="color:Tomato"> Pivot tables<p/>
하나의 열로 하위 집합을 만든 다음 합계 또는 평균과 같은 계산을 적용할 수 있다. 
<br>
> 피벗 테이블을 먼저 그룹화 한 다음 계산을 적용한다. 위에서는 pclass열을 기준으로 그룹화 한 다음 각 클래스의 fare열의 평균을 계산하여 수동으로 피벗 테이블을 만들었다.

In [34]:
passenger_class_fares = titanic_survival.pivot_table(
    index="pclass", values="fare", aggfunc=np.mean)
print(passenger_class_fares)

             fare
pclass
1.0     87.508992
2.0     21.179196
3.0     13.302889

#### <p style="color:Gray">First parameter<p/>
> index tells the method which column to group by.
> Index는 메서드를 통해 그룹화 할 열을 알려준다.

#### <p style="color:Gray">Second parameter<p/>
> values is the column that we want to apply the calculation to,and aggfunc specifies the calculation we want to perform.
> 두 번째 매개 변수 값은 계산을 적용하려는 열이다. 

#### <p style="color:Gray">Third parameter<p/>
> aggfunc specifies the calculation we want to perform. The defalt for the aggfunc parameter is actually the mean.
> aggfunc는 수행하고자 하는 계산방법을 지정한다.

In [38]:
passenger_survival = titanic_survival.pivot_table(
    index="pclass", values="survived")
print(passenger_survival)

        survived
pclass
1.0     0.619195
2.0     0.429603
3.0     0.255289

[http://pbpython.com/pandas-pivot-table-explained.html](http://pbpython.com/pandas-pivot-table-explained.html)

In [40]:
passenger_age = titanic_survival.pivot_table(index="pclass", values="age")
print(passenger_age)

              age
pclass
1.0     39.159918
2.0     29.506705
3.0     24.816367

A pivot table that calculates the total fares collected ("fare") and total number of survivors ("survived") for each embarkation port ("embarked") <br>
<br>
각 승선 포트에 대한 수집된 운임과 총 생존자 수

In [43]:
port_stats = titanic_survival.pivot_table(
    index="embarked", values=["fare", "survived"], 
    aggfunc=np.sum)
print(port_stats)

                fare  survived
embarked
C         16830.7922     150.0
Q          1526.3085      44.0
S         25033.3862     304.0

### Remove the missing values in a vector of data, and in a matrix

 #### <p style="color:Tomato"> What is matrix?<p/>
 #### <p style="color:Tomato"> What is vector?<p/>

#### <p style="color:Gray">DataFrame.dropna()<p/>
This method will drop any rows that contain missing values.

참고사이트: [결측값 있는 행 제거](http://rfriend.tistory.com/263)

```python
df.dropna(axis=0)
```
* Delete row with NaN <br>
* 결측값이 들어있는 행 전체를 삭제한다. <br>
* 모든 column은 유지되고, nan값이 들어있는 행만 삭제된다. 

```python
df.dropna(axis=1
```
* Delete column with NaN <br>
* 결측값이 들어있는 열 전체를 삭제한다. <br>
* NaN값을 포함하고 있는 칼럼이 지워진다.

In [50]:
drop_na_rows = titanic_survival.dropna(axis=0)
drop_na_col = titanic_survival.dropna(axis=1)
print(drop_na_rows)
print(drop_na_col)

Empty DataFrame
Columns: [pclass, survived, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked, boat, body, home.dest]
Index: []
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[1310 rows x 0 columns]

```python
dat.dropna(how='any') #to drop if any value in the row has a nan
dat.dropna(how='all') #to drop if all values in the row are nan
```

In [61]:
len(titanic_survival.index)

1310

In [ ]:
print(titanic_)

In [59]:
drop_na_columns = titanic_survival.dropna(
    axis=1)
print(drop_na_columns)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[1310 rows x 0 columns]

In [ ]:
new_titanic_survival = drop_na_columns