<p style="color:tomato">Planning your trip</p>
When planning a vacation, it's very important to know exactly how much you're ging to spend.

In [82]:
def hotel_cost(nights):
    return 140 * nights

In [83]:
hotel_cost(2)

280

In [84]:
def hotel_cost2(nights, cost):
    return cost * nights

In [5]:
hotel_cost2(4, 160)

640

In [7]:
def fruit_color(fruit):
    if fruit == "apple":
        return "Red"
    elif fruit == "banana":
        return "Yellow"
    elif fruit == "pear":
        return "Green"
    else:
        return "Please let me know what fruit you have? please contact us"

<p style="color:orange">Plane ride cost</p>
The function shoule return a different price depending on the location, similar to the code example above.

In [18]:
city = "Charlotte"
city.lower()

'charlotte'

In [43]:
def plane_ride_cost(city):
    if city == "Charlotte":
        distance = 183
    elif city == "Tampa":
        distance = 220
    elif city == "Pittsburgh":
        distance = 222
    elif city == "Los Angeles":
        distance = 475
    else:
        distance = "Our database don't have your city information. please let us know, then we 적용 then"
    return distance

In [44]:
plane_ride_cost("Charlotte")

183

In [45]:
plane_ride_cost("charlotte")

"Our database don't have your city information. please let us know, then we 적용 then"

<p style="color:pink"> Charlotte 랑 charlotte를 같은 문자로 인식하려면 ? </p>

In [46]:
def plane_ride_cost_lower(city):
    city_re = city.lower()
    print(city_re)
    if city_re == "charlotte":
        distance = 183
    elif city_re == "tampa":
        distance = 220
    elif city_re == "pittsburgh":
        distance = 222
    elif city_re == "los angeles":
        distance = 475
    else:
        distance = "Our database don't have your city information. please let us know, then we 적용 then"
    return distance, city

In [47]:
plane_ride_cost_lower("Charlotte")

charlotte

(183, 'Charlotte')

In [48]:
plane_ride_cost_lower("charlotte")

charlotte

(183, 'charlotte')

<p style="color:orange">Transportation</p>
You're also going to need a rental car in dorder for you to get around.

In [50]:
def finish_game(score):
    tickets = 10 * score
    if score >= 10:
        tickets += 50
    elif score >= 7:
        tickets += 20
    return tickets

1. The player can get 10 tickets for every point that the player scored.
2. check the value of score
3. if score is greater than or equal 10.<br>
> if it is, we give the player 50 bonus tickets.
4. if score is greater than or equal to 7. 
> give the player 20 bounus tickets

In [55]:
finish_game(5)

50

In [57]:
finish_game(7) # 7이상 일때는 보너스 20 추가

90

In [58]:
finish_game(10) # 10이상일때는 보너스 50추가

150

3일 이상은 20달러 할인
7일 이상은 50달러 할인

In [66]:
def rental_car_cost(days):
    daily_cost = 40
    costs = days * daily_cost
    if days >= 7:
        costs -= 50
    elif days >= 3:
        costs -= 20
    return costs

In [67]:
rental_car_cost(1)

40

In [68]:
rental_car_cost(2)

80

In [69]:
rental_car_cost(3)

100

In [70]:
rental_car_cost(7)

230

<p style="color:orange">3 main costs figured out</p>
It is completely valid to call the hotel_cost(nights) function with the variable days. Just like the example above where we call double(n) with the variable a, we pass the value of days to the new function in the argument nights.
> 
변수 days를 사용하여 hotel_cost (nights) 함수를 호출하는 것은 완전히 유효합니다. 위의 예제에서와 같이 변수 a로 double (n)을 호출하면 인수 nights에서 새 함수에 일 값을 전달합니다.

In [71]:
def double(n):
    return 2 * n

def triple(p):
    return 3 * p

def add(a, b):
    return double(a) + triple(b)

In [73]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [74]:
double(2)
triple(3)

4

9

In [77]:
def add(a, b):
    return double(a) + triple(b)

In [79]:
add(4,5)

23

<p style="color:green">함수를 정의 내리고, arguments를 대입하면 함수 공식에 해당 argument가 대입되어서 output이 나온다. </p>
<p style="color:green"> 함수를 함수에 적용하고 싶다면, 함수1에서 사용된 argumetnts, 함수2에서 사용된 arguments를 함수3에서도 Input 시켜야 한다.  </p>
<p style="color:green">함수3에 불리어진 함수1과 함수2는 함수1과 함수2가 적용된 함수를 찾아 입력받은 arguments의 새로운 output을 만든다.</p>

In [97]:
def hotel_cost(days):
    return 140 * days

def rental_car_cost(days):
    daily_cost = 40
    costs = days * daily_cost
    if days >= 7:
        costs -= 50
    elif days >= 3:
        costs -= 20
    return costs

def plane_ride_cost(city):
    if city == "Charlotte":
        distance = 183
    elif city == "Tampa":
        distance = 220
    elif city == "Pittsburgh":
        distance = 222
    elif city == "Los Angeles":
        distance = 475
    else:
        distance = "Our database don't have your city information. please let us know, then we 적용 then"
    return distance

days는 int로 <br>
city는 string ["Charlotte", "Tampa", "Pittsburgh", "Los Angeles"]

In [98]:
def trip_cost(days, city): #hotel_cost(nigts), plane_ride_cost(city), rental_car_cost(days)
    print("cost of hotel: " + str(hotel_cost(days)))
    print("cost of transportation: " + str(rental_car_cost(days)))
    print("your city is: " + city)
    print("plane cost is " + str(plane_ride_cost(city)))
    return rental_car_cost(days) + hotel_cost(days) + plane_ride_cost(city)

In [99]:
trip_cost(4, "Charlotte")

cost of hotel: 560
cost of transportation: 140
your city is: Charlotte
plane cost is 183

883

<p style="color:orange">Modify Trip cost</p>

In [118]:
def trip_cost(city, days, spending_money): #hotel_cost(nigts), plane_ride_cost(city), rental_car_cost(days)
    print("my trip days: " + str(days)+" days")
    print("I'll go: " + city)
    print("I got money about: " + str(spending_money)+" dollors")
    print("===============")
    print("cost of hotle: " + str(hotel_cost(days)))
    print("cost of transportation: " + str(rental_car_cost(days)))
    print("plane cost is " + str(plane_ride_cost(city)))
    return rental_car_cost(days) + hotel_cost(days) + plane_ride_cost(city) + spending_money

In [119]:
trip_cost("Los Angeles", 5, 600)

my trip days: 5 days
I'll go: Los Angeles
I got money about: 600 dollors
===============
cost of hotle: 700
cost of transportation: 180
plane cost is 475

1955