# <p style="color:tomato">Summarizing Data</p>

data_sorce: U.S. Cencus Bureau survey <br>
data: everything from housing affordability to industry employment rates <br>
cleaned_data_from : FiveThirtyEight <br>
[https://github.com/fivethirtyeight/data/tree/master/college-majors](https://github.com/fivethirtyeight/data/tree/master/college-majors) <br>
cleaned_data : 2010-2012/ all-ages.csv/ recent-grads.csv

<p> <b>Read</b> Data file</p>
<p> <b>Assign</b> the value</p>

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd
import numpy as np

In [3]:
all_ages = pd.read_csv('all-ages.csv')
# all_ages

In [4]:
recent_grads = pd.read_csv('recent-grads.csv')
# recent_grads

<p> <b>Count</b> the number of people in each Major_category for both data sets.</p>
<p style="color:red">series.unique()</p>
: return the unique values in a colomn (major_category)

In [27]:
print(recent_grads['Major_category']) # 정렬이 되지 않은채 모든 row가 나온다. 
print(recent_grads['Major_category'].unique()) # 컬럼 Major_category에 있는 unique한 값만 나온다.

0                              Engineering
1                              Engineering
2                              Engineering
3                              Engineering
4                              Engineering
5                              Engineering
6                                 Business
7                        Physical Sciences
8                              Engineering
9                              Engineering
10                             Engineering
11                             Engineering
12                             Engineering
13                             Engineering
14                             Engineering
15                             Engineering
16                             Engineering
17                             Engineering
18                             Engineering
19                     Law & Public Policy
20                 Computers & Mathematics
21         Agriculture & Natural Resources
22                             Engineering
23                             Engineering
24                                Business
25                             Engineering
26     Industrial Arts & Consumer Services
27                                Business
28                             Engineering
29                     Law & Public Policy
                      ...
143        Agriculture & Natural Resources
144                              Education
145               Psychology & Social Work
146                                   Arts
147                              Education
148              Humanities & Liberal Arts
149                                   Arts
150    Industrial Arts & Consumer Services
151               Psychology & Social Work
152        Agriculture & Natural Resources
153                                   Arts
154                              Education
155               Psychology & Social Work
156               Psychology & Social Work
157              Humanities & Liberal Arts
158              Humanities & Liberal Arts
159                                   Arts
160    Industrial Arts & Consumer Services
161        Agriculture & Natural Resources
162              Humanities & Liberal Arts
163                                 Health
164                              Education
165              Humanities & Liberal Arts
166                                   Arts
167              Humanities & Liberal Arts
168                 Biology & Life Science
169               Psychology & Social Work
170               Psychology & Social Work
171               Psychology & Social Work
172                              Education
Name: Major_category, Length: 173, dtype: object
['Engineering' 'Business' 'Physical Sciences' 'Law & Public Policy'
 'Computers & Mathematics' 'Agriculture & Natural Resources'
 'Industrial Arts & Consumer Services' 'Arts' 'Health' 'Social Science'
 'Biology & Life Science' 'Education' 'Humanities & Liberal Arts'
 'Psychology & Social Work' 'Communications & Journalism'
 'Interdisciplinary']

<p> <b>Make</b> a function for each unique value</p>
<p> return all of the rows where the column equals tht unique value. </p>

<p style="color:red">Dictionary</p>

: dictionary에 대해서 알아보기 <br>

### <p style="color:red">How to convert Data Frame data to dictionary data</p>

In [6]:
print(all_ages['Major_category'].unique())

['Agriculture & Natural Resources' 'Biology & Life Science' 'Engineering'
 'Humanities & Liberal Arts' 'Communications & Journalism'
 'Computers & Mathematics' 'Industrial Arts & Consumer Services'
 'Education' 'Law & Public Policy' 'Interdisciplinary' 'Health'
 'Social Science' 'Physical Sciences' 'Psychology & Social Work' 'Arts'
 'Business']

In [20]:
dictionary = {}

In [25]:
# aa_cat_counts = dict()
# 왜 안될까?
aa_cat_counts = {}
# rg_cat_counts = dict()
rg_cat_counts = {}

In [24]:
# print(all_ages['Major_category'].unique())
cats = all_ages['Major_category'].unique()
print(cats)
counts_dictionary = {}
for c in cats:
    major_df = all_ages[all_ages['Major_category'] == c]
    total = major_df["Total"].sum()
    counts_dictionary[c] = total
    
print(counts_dictionary)

['Agriculture & Natural Resources' 'Biology & Life Science' 'Engineering'
 'Humanities & Liberal Arts' 'Communications & Journalism'
 'Computers & Mathematics' 'Industrial Arts & Consumer Services'
 'Education' 'Law & Public Policy' 'Interdisciplinary' 'Health'
 'Social Science' 'Physical Sciences' 'Psychology & Social Work' 'Arts'
 'Business']
{'Agriculture & Natural Resources': 632437, 'Biology & Life Science': 1338186, 'Engineering': 3576013, 'Humanities & Liberal Arts': 3738335, 'Communications & Journalism': 1803822, 'Computers & Mathematics': 1781378, 'Industrial Arts & Consumer Services': 1033798, 'Education': 4700118, 'Law & Public Policy': 902926, 'Interdisciplinary': 45199, 'Health': 2950859, 'Social Science': 2654125, 'Physical Sciences': 1025318, 'Psychology & Social Work': 1987278, 'Arts': 1805865, 'Business': 9858741}

In [26]:
def calculate_major_cat_totals(df):
    cats = df['Major_category'].unique()
    counts = dict()
    for c in cats:
        major_df = df[df["Major_category"] == c]
        total = major_df["Total"].sum()
        return counts

aa_cat_counts = dict()
print(aa_cat_counts)

dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict.items()
dict.keys()

In [8]:
list(recent_grads['Major_category'].unique())

['Engineering',
 'Business',
 'Physical Sciences',
 'Law & Public Policy',
 'Computers & Mathematics',
 'Agriculture & Natural Resources',
 'Industrial Arts & Consumer Services',
 'Arts',
 'Health',
 'Social Science',
 'Biology & Life Science',
 'Education',
 'Humanities & Liberal Arts',
 'Psychology & Social Work',
 'Communications & Journalism',
 'Interdisciplinary']

In [9]:
print(recent_grads['Major_category'].unique().tolist())

['Engineering', 'Business', 'Physical Sciences', 'Law & Public Policy', 'Computers & Mathematics', 'Agriculture & Natural Resources', 'Industrial Arts & Consumer Services', 'Arts', 'Health', 'Social Science', 'Biology & Life Science', 'Education', 'Humanities & Liberal Arts', 'Psychology & Social Work', 'Communications & Journalism', 'Interdisciplinary']

major_category_dict = dict()
for i in recent_grads['Major_category'].unique().tolist():
    major_category_slice = recent_grads[['Major_category'] == i]
    major_category_dict[i] = major_category_slice[]

In [10]:
aa_cat_counts = dict()
print(aa_cat_counts)

{}

In [11]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [12]:
print(dict)

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [13]:
dict.items()
dict.keys()

dict_items([('Name', 'Zara'), ('Age', 7), ('Class', 'First')])

dict_keys(['Name', 'Age', 'Class'])

In [14]:
major_category_dict = dict()
print(major_category_dict)

TypeError: 'dict' object is not callable

In [ ]:
recent_grads['Major_category'].unique()

In [ ]:
def unique_value(column):